button
{
	background: none;
	color: black;
	border: 3px solid #390016;
	border-radius: 9px;
}
button:hover
{
	background: #390016;
	color: white;
}

.nav-custom a
{
	padding-right: 1.2em;
}

/*para label form*/
.campo-form {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}
label { display: block; } /*quiebre de linea*/

a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}