/*hola*/

/*diseño de imagenes*/
.banner{
    /*la parte del codigo que dice "linear-gradient" es para que la imagen tenga un efecto tipo sombra y se vean mejor el titulo y la info*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    /*"background-repeat" permite que la imagen se ajuste al contenedor sin repetirse hacia los lados para rellenar el espacio*/
    background-repeat: no-repeat;
    color: white;
}
/*usare los nombres base que pone bootstrap para no modifcar todo el codigo por cada parte:)*/
body {
    background-color: #F8FAFC;
    color: #0F172A;
}

.site-header, .bg-dark {
    background-color:  #1E293B !important;
}

.card {
    background-color: #E2E8F0;
    border: none;
}

.btn-primary {
    background-color: #0284C7;
    border-color: #0284C7;
}